.card {
    width: 270px;
}

.cabecalho {
    border-radius: 10px 10px 0 0;
}
.cabecalho img {
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: -60px;
 }

.rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;

}

.rodape h5 {
    font-size: 16px;
    color: #212121;
}