.time {
    text-align: center;
    padding: 32px 0;
    position: relative;
}

.time h3 {
    font-size: 32px;
    display: inline-block;
    margin: 0;
    font-weight: 500;
}

.time hr {
    border: 2px solid;
    width: 30px;
    margin-bottom: 30px;
}

.colaboradores {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}