.botao {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 28px 29px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin-top: 15px;

}

.botao:hover{
    background-color: #3c51c7;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}